<div class="container">

    <h1>Lista de Clientes</h1>
  
    
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
  
      <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
        
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
        
            <ng-container matColumnDef="document">
              <th mat-header-cell *matHeaderCellDef> Documento </th>
              <td mat-cell *matCellDef="let element"> {{element.document}} </td>
            </ng-container>
        
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> Endereço </th>
              <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>
  
            <ng-container matColumnDef="visibility">
              <th mat-header-cell *matHeaderCellDef> Visualizar </th>
              <td mat-cell *matCellDef="let element"> 

                <button mat-icon-button color="primary" routerLink="details/{{element.document}}">
                  <mat-icon>visibility</mat-icon>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="add-account">
              <th mat-header-cell *matHeaderCellDef> Adicionar Conta </th>
              <td mat-cell *matCellDef="let element"> 

                <button mat-icon-button color="warn" routerLink="create/{{element.document}}">
                  <mat-icon>note_add</mat-icon>
                </button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[2, 5, 10, 20]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
        
  </div>