<p>
    <mat-toolbar color="primary">

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu">

        <button routerLink="home" mat-menu-item>
             <mat-icon>home</mat-icon>
              <span>Home</span>
          </button>

        <button routerLink="clients" mat-menu-item>
            <mat-icon>face</mat-icon>
            <span>Clientes</span>
          </button>

        <button routerLink="accounts" mat-menu-item>
            <mat-icon>credit_card</mat-icon>
            <span>Contas</span>
          </button>

        </mat-menu>

      <span>Sistema Bancário</span>
      <span class="spacer"></span>


      <a mat-list-item href="https://github.com/pamelamoreiras/sistemabanco" target="_blank">
          <i class="material-icons">code</i>
      </a>

    </mat-toolbar>

<router-outlet></router-outlet>

  </p>
  