
.container {
    width: 90%;
    margin: 30px auto auto auto;
}

table {
    width: 100%;
  }

.mat-mdc-form-field {
 font-size: 14px;
 width: 100%;
 }

button {
    margin-bottom: 20px;
}

h1 {
    width: 100%;
    text-align: center;
  }

.edit {
  color: rgb(74, 74, 219);
}

.delete {
  color: rgb(180, 71, 71);
}