<div class="container mat-elevation-z8">

    <form class="form">
    
        <h1 class="fullWidth">Sacar</h1>
        <img class="fullWidth" src="assets/q.webp" alt="imagem de adim cadastrando">
    
        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Número da Conta</mat-label>
            <input 
            type="text"
            [(ngModel)]="transactionRequest.accountNumber"
            name="accountNumber"
            [formControl]="accountNumber"
            required
            matInput 
            maxlength="6"
            placeholder="Ex.. 555">
            <mat-icon matSuffix>pin</mat-icon>
        </mat-form-field>
    
        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Valor</mat-label>
            <input
            type="number"
            [(ngModel)]="transactionRequest.amount"
            name="amount"
            [formControl]="amount"
            required 
            matInput 
            placeholder="Ex.. 50">
            <mat-icon matSuffix>pin</mat-icon>
        </mat-form-field>
    
        <button type="button" (click)="withdraw()" [disabled]="!formValidators()" class="fullWidth mat-elevation-z8" mat-raised-button color="primary">Sacar</button>
        <button type="button" routerLink="../../../../" class="fullWidth mat-elevation-z4" mat-stroked-button color="warn">Cancelar</button>
    
    </form>
    
    </div> 